body{
    width: 100%;
    font-size: 12px;
    text-align: justify;
}
.top{
    background: black;
}
.Navigation{
    background: rgba(21, 21, 165, 0.692);
}
.Navigation button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    color:white;
}
.container{
    background: white;
    box-shadow: 0px 8px 20px 1px rgb(14 14 14 / 42%);
}
.Navigation button:hover{
    color: orange;
}
.BNavigation button:hover{
    color: orange;
}

.BNavigation{
    display: flex;
    background:  rgba(21, 21, 165, 0.692) ;
    color: white;
    font-size: 12px;
    padding-top: 5px;
}

.BNavigation button{
    border: none;
    background: none;
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 11px;
    color:white;
}
.belowNav{
    background:  rgba(11, 11, 214, 0.781) ;
    color: white;
}
.mn{
    display: flex;
}
input[type="submit"] {
    background-color: #2246e4;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    
    background: #ff0224;
    border-radius: 5px;
    border: 2px rebeccapurple solid;

}

@media screen and (max-width: 480px) {
    .top{
        width: 100%;
        height: 30px;
        display: flex;
        position: relative;
    }
    .topImg{
        margin-left: 330px;
        margin-top: 5px;
    }
    .top p{
        color: white;
        position: absolute;
        bottom: -10px;
        left: 35px;
    }
    .Navigation{
        height: 50px;
    }
    .Navigation button{
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }
    .butt{
        margin-left: 100px;
    }
    
    .bImg{
        margin-left: 60px;
    }
    .BNavigation p{
        margin-top: -1px;
        margin-left: 10px;
        text-align: justify;
    }
    .belowNav{
        height: 60px;
        padding-top: 1px;
        padding-left: 60px;
    }
    .centerContact{
        margin-left: 60px;
        margin-right: 60px;
        height: 450px;
    }
    .mn{
        margin-top: 25px;
    }
    .contact{
        width:173px;
        height: 300px;
        border: solid red;
    }
    .form{
        width:173px;
        height: 300px;
        border: solid red;
    }
    

}