body{
    width: 100%;
    font-size: 12px;
    text-align: justify;
}
.top{
    background: black;
}
.Navigation{
    background: rgba(21, 21, 165, 0.692);
}
.Navigation button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    color:white;
}
.container{
    background: white;
    box-shadow: 0px 8px 20px 1px rgb(14 14 14 / 42%);
}
.Navigation button:hover{
    color: orange;
}
.BNavigation button:hover{
    color: orange;
}
.centerImg{
    display: flex;
}
.bottom{
    background: rgb(206, 204, 204);
}
.BNavigation{
    display: flex;
    background:  rgba(21, 21, 165, 0.692) ;
    color: white;
    font-size: 12px;
}

.BNavigation button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 11px;
    color:white;
}
.botimg{
    display: flex;
}

@media screen and (min-width: 380px) and (max-width: 480px) {
    .BNavigation button{
        padding: 3px;
        margin-left: 10px;
    }
    .top{
        width: 100%;
        height: 30px;
        display: flex;
        position: relative;
    }
    .topImg{
        margin-left: 330px;
        margin-top: 5px;
    }
    .top p{
        color: white;
        position: absolute;
        bottom: -10px;
        left: 35px;
    }
    .Navigation{
        height: 50px;
    }
    .Navigation button{
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }
    .butt{
        margin-left: 100px;
    }
    .container{
        padding-left: 50px;
        padding-right: 50px;
        height: 800px;
    }
    .container img{
        width:380px;
        height:120px;
        margin-top: 5px;
    }
    .img2{
        width: 100px;
        height: 100px;
        text-align: end;
        font-size: 9px;
    }
    .img2 img{
        width: 100%;
        height: 50px;
    }
    .bottom{
        height: 480px;
        width: 79%;
        margin-top: -18px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }
    .bImg{
        margin-left: 60px;
    }
    .BNavigation{
        padding-top: 5px;
    }
    .BNavigation p{
        margin-top: -1px;
        margin-left: 10px;
        text-align: justify;
    }
    .img4{
        width: 200px;
        text-align: center;
        padding: 5px;
    }
    .botimg{
        font-size: 7px;
    }

}
@media screen and (min-width: 481px) and (max-width: 760px){
    .BNavigation{
        padding-top: 5px;
    }
    .BNavigation button{
        padding: 3px;
        margin-left: 10px;
    }
    .top{
        width: 100%;
        height: 30px;
        display: flex;
        position: relative;
    }
    .topImg{
        margin-left: 600px;
        margin-top: 5px;
    }
    .top p{
        color: white;
        position: absolute;
        bottom: -10px;
        left: 80px;
    }
    .Navigation{
        height: 50px;
    }
    .Navigation button{
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
    }
    .butt{
        margin-left: 255px;
    }
    .bbutt{
        margin-left: 70px;
    }
    
    .bImg{
        margin-left: 240px;
    }
    .BNavigation p{
        margin-top: -1px;
        margin-left: 10px;
        text-align: justify;
    }
    .container{
        padding-left: 80px;
        padding-right: 80px;
        height: 730px;
    }
    .container img{
        width:600px;
        height:200px;
        margin-top: 5px;
    }
    .img2{
        width: 100px;
        height: 100px;
        text-align: end;
        font-size: 9px;
    }
    .img2 img{
        width: 100%;
        height: 50px;
    }
    .bottom{
        height: 485px;
        width: 87%;
        margin-top: 2px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }
    .img4{
        width: 200px;
        text-align: center;
        padding: 5px;
    }
    .botimg{
        font-size: 12px;
    }
}
@media screen and (min-width: 761px) and (max-width: 1368px){
    body{
        width: 100%;
        font-size: 14px;
        text-align: justify;
    }
    .BNavigation{
        padding-top: 5px;
        font-size: 14px;
    }
    .BNavigation button{
        padding: 3px;
        margin-left: 30px;
    }
    .top{
        width: 100%;
        height: 50px;
        display: flex;
        position: relative;
    }
    .topImg{
        margin-left: 1060px;
        margin-top: 15px;
        padding-left: 5px;
    }
    .topImg img{
        padding-left: 15px;
    }
    .top p{
        color: white;
        position: absolute;
        left: 135px;
    }
    .Navigation{
        height: 75px;
    }
    .Navigation button{
        font-size: 14px;
        padding: 17px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .butt{
        margin-left: 425px;
    }
    
    .bImg{
        margin-left: 575px;
    }
    .bImg img{
        padding-left: 15px;
    }
    .BNavigation p{
        margin-top: 2px;
        margin-left: 30px;
    }
    .bbutt{
        margin-left: 105px;
        text-align: justify;
    }
    .container{
        padding-left: 135px;
        padding-right: 135px;
        height: 810px;
    }
    .container img{
        width:1100px;
        height:300px;
        margin-top: 5px;
    }
    .img2{
        width: 200px;
        height: 200px;
        text-align: end;
        font-size: 9px;
    }
    .img2 img{
        width: 100%;
        height: 100px;
    }
    .bottom{
        height: 520px;
        width: 80%;
        margin-top: 10px;
        padding-left: 135px;
        padding-right: 135px;
        padding-top: 20px;
    }
    .img4{
        width: 355px;
        text-align: center;
        padding: 50px;
    }
    .botimg{
        font-size: 14px;
    }
}